@model IEnumerable<WeatherDto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

@await Html.PartialAsync("LocationForm")

<div class="container py-2">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Tracked locations</h2>
            <a asp-controller="Home" asp-action="DeleteAllLocation" 
               class="link-danger" type="button">Remove all</a>
        </div>
    </div>
    @if (@Model.Any())
    {
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var value in Model)
            {
                var visibility = value.Visibility / 1000;
                var iconPath = $"/svg/{value.Icon}.svg";
                var country = $"https://flagsapi.com/{value.Country}/flat/64.png";
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="text-primary">@value.Country</span>
                                    <h4 class="card-title">
                                        @value.Name
                                        <img class="text-primary" width="20px" height="20px" src="@country" alt="">
                                    </h4>
                                </div>
                                <div>
                                    <a class="text-danger" asp-controller="Home" asp-action="DeleteLocation" asp-route-locationId="@value.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-lg" style="font-size: 25px;">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <img class="icon" style="margin-right: 10px;" width="40" height="40" src="@iconPath" alt="">
                                <p class="card-text" style="font-size: 24px;">
                                    @value.Temp<span>°C</span>
                                </p>
                            </div>
                            <p class="card-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-thermometer-half">
                                    <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415"></path>
                                    <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1"></path>
                                </svg>
                                Feels like @value.FeelsLike°C, @value.Description
                            </p>
                            <p class="card-text">
                                Max @value.TempMax<span>°C</span>, min @value.TempMin<span>°C</span>.
                            </p>
                            <p class="card-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-wind">
                                    <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5m-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2M0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5"></path>
                                </svg>
                                @value.Speed m/s
                            </p>
                            <p class="card-text">Humidity: @value.Humidity<span>%</span></p>
                            <p class="card-text">Visibility: @visibility km</p>
                            <a asp-controller="home" asp-action="GetForecast" asp-route-id="@value.Id"
                                class="btn btn-outline-primary btn-sm" >View forecast</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center">
            <p>No trackable locations</p>
        </div>
    }
</div>